<header class="main-header">
    <nav class="main-header__nav">
    <ul class="main-header__item-list">
        <li class="main-header__item"><a href="/" class="<%= path=== '/' ? 'active' : '' %>">Home</a></li>
        <li class="main-header__item">
        <a href="/add-user" class="<%= path==='/add-user' ? 'active' : '' %>">Add User</a>
        </li>
    </ul>
    </nav
</header>